@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = "Create";
}

<p class="text">@Localizer["Title"]</p>
<form name="createForm" method="post" action="~/Home/Create" class="text">
    <input type="hidden" value="@ViewBag.AncestorId" name="AncestorId" />
    <table>
        <tr>
            <td>@Localizer["Name"]</td>
            <td><input type="text" name="Name" required /> </td>
        </tr>
        <tr>
            <td>@Localizer["Description"]</td>
            <td><input type="text" name="Description" /></td>
        </tr>
        <tr>
            <td>@Localizer["Performers"]</td>
            <td><input type="text" name="Performers" /></td>
        </tr>
        <tr>
            <td>@Localizer["PlanedFinishDate"]</td>
            <td><input type="datetime-local" name="PlanedFinishDate" required /></td>
        </tr>
        <tr><td><input type="submit" value="@Localizer["Sumbit"]" class="button addbutton" /> </td><td></td></tr>
    </table>
</form>
